<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Document</title>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Mono' rel='stylesheet' />
    <link rel="stylesheet" href="css/<%= pageName %>.css" />
</head>
<body>
    <div id="root" />
    <script src="js/<%= pageName %>.js"></script>
</body>
</html>