.clamp-to-view {
    width: 100% !important;
    overflow: hidden;
}

.flex-column {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
}

.margin-auto {
    margin: 0 auto;
}

.code {
    background: #222;
    color: #eee;
    border-radius: 1rem;
    padding: 1rem;
}

.error-page {
    border-radius: 1rem;
    padding: 2rem;
    background: #fdd;
}

.error-message {
    color: #f88;
    max-height: 15rem;
    overflow-y: scroll;
}